   .title {
     font-size: 20px;
     font-weight: 700;
     font-family: "Times New Roman", Times, serif;
     margin-top: 18px;
     margin-bottom: 12px;
     padding: 0px;
   }

   .image {
     width: 39vh;
     height: 39vh;
     border-radius: 5px;
     cursor: pointer;
   }

   .stok {
     font-size: 16px;
     font-family: "SF Pro Text";
   }

   .button {
     width: 80px;
     height: 50px;
     display: "block";
     font-size: 17px;
     font-weight: 800;
     color: #ffffff;
     background: #3749ec;
     margin-top: 25px;
     border-radius: 5px;
     border: none;
   }

   .button2 {
     width: 80px;
     height: 50px;
     display: "block";
     font-size: 17px;
     font-weight: 800;
     color: #ffffff;
     background: #c51313;
     margin-top: 25px;
     border-radius: 5px;
     border: none;
   }